{% extends 'base.html' %}
{% block title %}Secret Page{% endblock %}
{% block content %}

<h1>You made it!</h1>
{{user.username}}
{{user.email}}
{{user.first_name}}
{{user.last_name}}

<br>

<form action="/logout" method="POST">
  <!-- CR: Added a CSRF token to protect logout button -->
  {{ form.hidden_tag() }}
  <button>Logout</button>
</form>

<ul>

  {% for note in user.notes%}
  <li>{{ note.title }}: {{ note.content }}

    <a href="/notes/{{note.id}}/update">Edit</a>

    <form action="/notes/{{note.id}}/delete" method="POST">

      {{ form.hidden_tag() }}
      <button>Delete Post</button>

    </form>

  </li>
  {% endfor %}

</ul>

<form action="/users/{{ user.username }}/delete" method="POST">
  {{ form.hidden_tag() }}
  <button>Delete User</button>
</form>

<a href="/users/{{ user.username }}/notes/add">
  Add Notes
</a>

{% endblock %}